<!DOCTYPE html>
<html>
<head>
  <title>LuisBarberList</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%end%>
  <div class="container">
    <div class="row">
      <div class="col-md-10 list center-block">
        <a href="<%= new_user_session_path%>"><img src="/assets/logo-list.png" alt="" class="logo-img center-block"></a>
      </div>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
